* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
html{
   scroll-behavior: smooth;
}

/* Inicio header*/

.nav {
    background-color: #181818;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;

}

.nav-list {
    display: flex;
    margin-right: 28px;
}

.nav-list a {
    padding: 20px;
    color: #ddd;
    list-style: none;
    text-decoration: none;
}

.nav-list a:hover {
    color: #FFFFFF;
}

/* Fim header*/

/* Inicio Main*/

.Main {
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url("images/images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.Main h1 {
    color: #FFFFFF;
    font-size: 54px;

}

.Main p {
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-bottom: 35px;
    margin-top: 10px;
}

.botao {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 0;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}
.botao:hover{
    transform: scale(1.1);
}
.Main a{
    text-decoration: none;
    color: #181818;
}
/* Fim Main*/

/* inicio sobre */
.Sobre{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Sobre div{
    max-width: 50%;
    padding-right: 40px;
}
.Sobre img{
    max-width: 450px;
    border-radius: 8px;
}
.Sobre div h2{
    font-size: 32px;
    margin-bottom: 14px;
}
/* Fim Projetos*/
.Projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.Projetos h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}
.Projetos p{
    margin-bottom: 40px;
    font-style: italic;
}
.projetos-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Projetos img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}
.Projetos img:hover{
 opacity: 1;
}
.action{
   background-color: #181818;
   border: 0;
   font-size: 14px;
   padding: 14px 24px;
   border-radius: 4px;
   color: #FFFFFF;
   margin-top: 18px;
   cursor: pointer;
   transition: 0.9s;
}
.action:hover{
 transform: scale(1.1);
}
/* Fim projetos*/

/* Inicio rodape*/

footer{
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
footer a{
    text-decoration: none;
    color: #FFFFFF;
}
footer p{
    margin-left: 12px;
}
/* Responsividade*/

@media (max-width: 865px){
    /* Inicio Main*/
    .Main h1{
        font-size: 40px;
    }
    .Main p{
        font-size: 18px;
    }
    .Main{
        background-size: cover;
    }
    /* Fim main*/

    /* inicio sobre */
   .Sobre{
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

   }
   .Sobre div{
    max-width: 80%;
   }
   .sobre div h2{
    font-size: 45px;
   }
   .Sobre img{
    width: 80%;
    margin-top: 30px;
   }
    /* Fim sobre*/

    /* Inicio Projetos*/
.Projetos img{
    width: 27.5%;
}
    /* Fim projetos*/

    /* Inicio rodape*/
  footer{
    flex-direction: column;
  }
  footer h3{
    font-size: 24px;
    margin-bottom: 8px;
  }
  footer p{
    margin: 0;

  }

    /* fim rodape */
}

